@font-face {
    font-family: "Avenir Next Bold";
    src: url(fonts/AvenirNext.ttc);
}
@font-face {
    font-family: "Cafe24Ohsqareair";
    src: url(fonts/Cafe24Ohsquareair.ttf);
}
@font-face {
    font-family: "Jalnan OTF";
    src: url(fonts/JalnanOTF.otf);
}

@keyframes header-coloring-animation {
    
}

.header-font {
    font-family: Avenir Next Bold;
    font-size: 60px;
}

.subheading-font {
    font-family: Jalnan OTF;
}

.body-font {
    font-family: Cafe24Ohsqareair;
    font-size: 13px;
    line-height: 1.6;
}

.sub-body-font {
    font-family: Cafe24Ohsqareair;
    font-size: 10px;
}

.center-alignment {
    text-align: center;
}

.clear-buttons {
    background-color: white;
    border: none;
    border-bottom: double darkcyan; 
    border-radius: 3px;
    cursor: pointer;
}

.selected-buttons {
    background-color:lightcyan;
    color: white;
    border: none;
    border-radius: 3px;
    border-bottom: double lightskyblue;
    cursor: pointer;
}

.current-link:link {
    color: lightskyblue;
    text-decoration: none;
}

.current-link:visited {
    color: lightskyblue;
    text-decoration: none;
}

a:link {
    color:darkslateblue;
    text-decoration: none;
}
a:visited {
    color: darkslateblue;
    text-decoration: none;
}
a:hover {
    color:black;
    text-decoration: none;
}
a:active {
    color:white;
    text-decoration: none;
}


.body-margins-to-center {
    margin: 0 auto;
    padding: 50px;
    width: 650px;   
}

.big-empty-border {
    height: 80px;
}

.height-border {
    height: 40px;
}

.small-empty-border {
    width: 180px;
}

.flex-content img {
    display: block;
    margin: 10px;
    width: 30px;
    height: 30px;
    vertical-align: text-bottom;
}

.flex-content {
    display: flex;
    justify-content: center;
}
