@font-face {
    font-family: "Avenir Next Bold";
    src: url(fonts/AvenirNext.ttc);
}
@font-face {
    font-family: "Cafe24Ohsqareair";
    src: url(fonts/Cafe24Ohsquareair.ttf);
}
@font-face {
    font-family: "Jalnan OTF";
    src: url(fonts/JalnanOTF.otf);
}

.header-font {
    font-family: Avenir Next Bold;
    font-size: 60px;
}

.subheading-font {
    font-family: Jalnan OTF;
}

p {
    font-family: Cafe24Ohsqareair;
    font-size: 13px;
    line-height: 1.6;
}

.sub-body-font {
    font-family: Cafe24Ohsqareair;
    font-size: 10px;
}

.gradient {
    background: -webkit-linear-gradient(darkslateblue, darkcyan, lightcyan);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center-alignment {
    text-align: center;
}

.right-alignment-with-borders {
    width: 49%;
    float: left;
}

.float-alignment-with-borders {
    width: 49%;
    float: right;
}


.clear-buttons {
    background-color: white;
    border: none;
    border-bottom: double darkcyan; 
    border-radius: 3px;
    cursor: pointer;
}

.selected-buttons {
    background-color:lightcyan;
    color: white;
    border: none;
    border-radius: 3px;
    border-bottom: double lightskyblue;
    cursor: pointer;
}

.current-link:link {
    color: lightskyblue;
    text-decoration: none;
}

.current-link:visited {
    color: lightskyblue;
    text-decoration: none;
}

a:link {
    color:darkcyan;
    text-decoration: none;
}
a:visited {
    color: darkcyan;
    text-decoration: none;
}
a:hover {
    color:darkslateblue;
    text-decoration: none;
}
a:active {
    color:white;
    text-decoration: none;
}


.body-margins-to-center {
    margin: 0 auto;
    width: 750px;
    padding: 35px 0;
    align-items: center;
}

.height-border {
    height: 40px;
}

.big-empty-border {
    height: 80px;
}

.small-empty-border {
    width: 180px;
}

.flex-content img {
    display: block;
    margin: 10px;
    width: 30px;
    height: 30px;
}

.flex-content {
    display: flex;
    justify-content: center;
}

.flex-content-right {
    display: flex;
}

.flex-content-right img {
    display: block;
    margin: 10px;
    width: 30px;
    height: 30px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

.thumb-parent {
    position:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.thumbnail-gallery {
    width: 100px;
    height:80px;
    border-radius: 15%;
    overflow: hidden;
    margin: auto 0;
    cursor: pointer;
    transition: transform 0.3s;
    display: inline-block;
}

.thumbnail-gallery:hover img{
    transform: scale(1.2);
}

.image-closeup{
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width:100%;
    z-index: 1200;
    display:none;
}

.image-closeup span{
    position: absolute;
    top:10%;
    right:10%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    cursor:pointer;
    z-index: 1200;
}

.image-closeup img{
    position:absolute;
    top:50%;
    left:50%;
    height: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}

.video-closeup{
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width:100%;
    z-index: 1200;
    display: none;
}

.video-closeup video{
    position:absolute;
    top:50%;
    left:50%;
    height: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}

.video-closeup span{
    position: absolute;
    top:10%;
    right:10%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    cursor:pointer;
    z-index: 1200;
}

.experience-company {
    color: darkcyan
}